<a href="https://colab.research.google.com/github/rakhiku/my_1st_project/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 43.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=56d5503695dd76564c86ce9a8fa114e2e71503fb00e4aef97145a27d082ca55c
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Test").getOrCreate()
Col_Name=['Roll_no','Name','Age','college']
data = [(1,'Rakhi',26,'GPB'),
        (2,'Amol',26,'GPB'),
        (3,'Dhanashree',21,'FC')]

dataframe = spark.createDataFrame(data, Col_Name)
dataframe.show()

+-------+----------+---+-------+
|Roll_no|      Name|Age|college|
+-------+----------+---+-------+
|      1|     Rakhi| 26|    GPB|
|      2|      Amol| 26|    GPB|
|      3|Dhanashree| 21|     FC|
+-------+----------+---+-------+

NameError: ignored

In [9]:
rdd1=dataframe.rdd.map(lambda x:(x[0],x[1]+'#',x[2],x[3]))
df2=rdd1.toDF(Col_Name)
df3=df2.withColumn("Age_+_10",df2['age'+10])
df3.show()

TypeError: ignored

In [10]:
from pyspark.sql.import functions 

df4=df3.withColumn("Eligibility_result",When(df3['Age']>25,"not Eligible").otherwise("Eligible"))
df4.show()

SyntaxError: ignored